<div class="DateTime">
    <div data-dojo-attach-point="dateTimeNode" class="dateTime">
        <div data-dojo-type="dijit/form/DateTextBox" data-dojo-attach-point="dateWidget"
            id="DateTime_Date_${id}"></div><div data-dojo-type="dijit/form/TimeTextBox" data-dojo-attach-point="timeWidget"
            id="DateTime_Time_${id}"></div>
    </div>
</div>
