<div>
	<div data-dojo-type="dijit/Toolbar" id="mainToolbar">
		<div id="logo" data-dojo-attach-point="logo">Автопарк</div>

	    <div data-dojo-type="dijit/form/Button"
	       data-dojo-attach-point="menuRaces" id="menuRaces">
	        <span>Рейсы</span>
        </div>
	    <div data-dojo-type="dijit/form/DropDownButton" id="menuReports">
	        <span>Отчёты</span>
	        <div data-dojo-type="dijit/DropDownMenu">
				<div data-dojo-type="dijit/MenuItem" data-dojo-props="iconClass:'icon-list-alt'"
				     data-dojo-attach-point="menuDailyReport" id="menuDailyReport">Суточный отчёт</div>
			</div>
	    </div>
	    <div data-dojo-type="dijit/form/DropDownButton" id="menuCatalog">
	        <span>Справочники</span>
			<div data-dojo-type="dijit/DropDownMenu">
				<div data-dojo-type="dijit/MenuItem" data-dojo-props="iconClass:'icon-truck'"
				     data-dojo-attach-point="menuCars" id="menuCars">Автомобили</div>
				<div data-dojo-type="dijit/MenuItem" data-dojo-props="iconClass:'icon-group'"
				     data-dojo-attach-point="menuDrivers" id="menuDrivers">Водители</div>
				<div data-dojo-type="dijit/MenuItem" data-dojo-props="iconClass:'icon-hdd'"
				     data-dojo-attach-point="menuDevices" id="menuDevices">Устройства</div>
				<div data-dojo-type="dijit/MenuItem" data-dojo-props="iconClass:'icon-building'"
				     data-dojo-attach-point="menuPlaces" id="menuPlaces">Места подачи</div>
				<div data-dojo-type="dijit/MenuItem" data-dojo-props="iconClass:'icon-globe'"
				     data-dojo-attach-point="menuRoutes" id="menuRoutes">Маршруты</div>
			</div>
	    </div>
	</div>
</div>
