@CHARSET "UTF-8";

#racePane {
	margin: 0 10px 0 10px;
}

/* Карта */
#map {
	position: absolute;
    top:    34px;
    left:   0;
    bottom: 35px;
    right:  0;
    height: auto;

    border: 1px solid rgb(213, 213, 213);
}

#mapLoading {
    position: absolute;
    top:    34px;
    left:   0;
    bottom: 35px;
    right:  0;
    height: auto;

    z-index: 1000;

    background: white;
	/* IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	/* IE 5-7 */
	filter: alpha(opacity=60);
	/* Netscape */
	-moz-opacity: 0.6;
	/* Safari 1.x */
	-khtml-opacity: 0.6;
	/* Good browsers */
	opacity: 0.6;

    text-align: center;
    display: none;
}

#mapLoading .mapLoaderIcon {
	width: 200px;
	height: 200px;
    position: absolute;
    top: 50%;
    margin-top: -100px;
}

#mapControls {
	left: 0;
	bottom: 0;
	position: absolute;
	white-space: nowrap;
}

#mapControls .dijitButtonNode span {
	vertical-align: middle;
}

#mapControls .dijitIcon {
    background-position: left;
    background-repeat: no-repeat;
    height: 16px;
    width: 18px;
}

#raceSelect {
    display: none;
}

#raceSelect .dijitButtonContents {
	min-width: 100px;
}

#noRacesLabel {
	margin-left: 10px;
	display: none;
	color: #666;
}

#mapCoords {
	right: 0;
	bottom: 0;
	position: absolute;
	color: #666;
}

#distance {
	padding: 0 10px;
}
