<div class="fullsize">
	<div data-dojo-type="dijit/layout/BorderContainer" class="fullsize" 
		data-dojo-props="gutters:true, liveSplitters:true">
	    <div data-dojo-type="dijit/layout/ContentPane" id="navigationPane"
	         data-dojo-props="region:'top'">
			<div data-dojo-attach-point="navigationNode"></div>
		</div>
		<div data-dojo-type="dijit/layout/ContentPane" id="typesPane"
		     data-dojo-props="region:'leading', splitter:true">
			<div data-dojo-attach-point="typesNode"></div>
		</div>
		<div data-dojo-type="dijit/layout/ContentPane" id="devicesPane"
		     data-dojo-props="region:'center'">
				<div data-dojo-attach-point="devicesNode"></div>
		</div>
	</div>
</div>
