@CHARSET "UTF-8";

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
	background-color: #F2F5F9;
	color: #000000;
}

/* Логотип */
#logo {
	position: absolute;
	left: 0;
	top: 0;
	height: 22px;

	font-size: 16px;
	line-height: 22px;
	font-weight: bold;

	background: url('truck.gif') 10px center no-repeat, -webkit-gradient(linear, left top, left bottom, color-stop(0, #444), color-stop(1, #222));
	background: url('truck.gif') 10px center no-repeat, -webkit-linear-gradient(top, #444 0%, #222 100%);
	background: url('truck.gif') 10px center no-repeat, -moz-linear-gradient(top, #444 0%, #222 100%), url('truck.gif');
	background: url('truck.gif') 10px center no-repeat, -o-linear-gradient(top, #444 0%, #222 100%), url('truck.gif');
	background: url('truck.gif') 10px center no-repeat, -ms-linear-gradient(top, #444 0%, #222 100%), url('truck.gif');
	background: url('truck.gif') 10px center no-repeat, linear-gradient(top, #444 0%, #222 100%), url('truck.gif');

	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	background-color: #222;

	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.065);
	box-shadow: 0 1px 4px rgba(0,0,0,0.065);

	border-width: 1px;
	border-color: #222 #222 #1d1d1d;
	border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);

	border-radius: 0 0 10px 0;

	padding: 4px 15px 4px 35px;
}

#logo:hover {
	cursor: pointer;
}

/* Стиль панели навигации */
#navigationPane {
	padding: 0;
}

#mainToolbar {
	padding-left: 140px;
	margin-bottom: 10px;
	height: 28px;
}

/* Стиль растянутого на 100% окна */
.fullsize {
	width: 100%;
	height: 100%;
}

/* Главный контейнер */ 
.fullsize .dijitContainer {
	padding-bottom: 10px;
}
.fullsize .dijitContentPane {
	padding: 0;
}

/* Ячейка DGrid */
.dgrid .dgrid-cell {
	vertical-align: middle;
	white-space: nowrap;
}

/* Растягивать поля ввода на всю ячейку таблицы */
.dgrid .dijitTextBox {
	width: 100%;
}

/* Ширина кнопки выпадающего списка */
.dbootstrap .dijitComboBox .dijitButtonNode.dijitArrowButton,
.dbootstrap .dijitSelect .dijitButtonNode.dijitArrowButton {
	padding: 6px !important; 
}
.dbootstrap .dijitSpinnerButtonContainer.dijitButtonNode {
	padding: 4px 1px !important;
}
.dgrid .dijitButtonContents {
	width: 100%;
}

/* Fix: по-умолчанию было 0.2em, в Chrome и Firefox рендерилось по-разному */
.dbootstrap .dijitToggleButton,
.dbootstrap .dijitButton,
.dbootstrap .dijitDropDownButton,
.dbootstrap .dijitComboButton {
	margin: 0;
}

/* Fix: по-умолчанию было normal, в Chrome и Firefox рендерилось по-разному */
.dbootstrap .dijitButtonNode {
	line-height: 15px;
}

/* Стиль разделителя */
.dbootstrap .dijitSplitterV {
	background: transparent;
}

.dbootstrap .dijitSplitterV:hover {
	border: 1px dashed #DDDDDD;
	border-radius: 3px;
	background: #ECECEC;
}

.dbootstrap .dijitSplitterV .dijitSplitterThumb {
	width: 7px;
	height: 83px;
	background: url('splitter.gif');
}

.dbootstrap .dijitSplitterV:hover .dijitSplitterThumb {
	background: url('splitter-hover.gif');
}

.dbootstrap .dijitComboBox .dijitInputContainer {
	padding: 4px 6px 3px 6px;
}

.polygonIcon  { background-image: url('polygon.png'); }
.editIcon     { background-image: url('edit.png'); }
.zoomInIcon   { background-image: url('zoom-in.png'); }
.zoomOutIcon  { background-image: url('zoom-out.png'); }
.distanceIcon { background-image: url('distance.png'); }

.olPopup { z-index: 805 !important; }
.olFramedCloudPopupContent {
	white-space: nowrap;
	padding: 5px 0px 0px 10px;
}
.olFramedCloudPopupContent th {
	font-weight: normal;
	text-align: right;
}

.olControlMousePosition {
	display: none;
}