<div>
    <div data-dojo-attach-point="gridNode"></div>

	<div class="buttons">
		<button data-dojo-type="dijit/form/Button" data-dojo-props="iconClass:'icon-plus'"
			data-dojo-attach-event="click:addCar" class="inverse">Добавить</button>
		<button data-dojo-type="dijit/form/Button" data-dojo-props="iconClass:'icon-minus'"
			data-dojo-attach-event="click:deleteCar" class="inverse">Удалить</button>
	</div>
</div>
