<div class="fullsize">
	<div data-dojo-type="dijit/layout/BorderContainer" class="fullsize" 
		data-dojo-props="gutters:true, liveSplitters:true">
	    <div data-dojo-type="dijit/layout/ContentPane" id="navigationPane"
	         data-dojo-props="region:'top'">
			<div data-dojo-attach-point="navigationNode"></div>
		</div>
		<div data-dojo-type="dijit/layout/ContentPane" id="routePane"
			data-dojo-props="region:'center'">
			<div>
			    Отобразить рейс от&nbsp;
                <input type="text" data-dojo-attach-point="dateBox" id="dateBox"
                    data-dojo-type="dijit/form/DateTextBox" />
                <select id="raceSelect" data-dojo-attach-point="raceSelect"
                    data-dojo-type="dijit/form/Select"></select>
                <span id="noRacesLabel">(выполненных рейсов не найдено)</span>
			</div>
			<div id="map"></div>
			<div id="mapLoading"><img src="../../../../resources/ajax-loader-map.gif" class="mapLoaderIcon" /></div>
            <div id="mapControls">
                <div data-dojo-type="dijit/form/ToggleButton" class="inverse"
                    data-dojo-attach-point="drawButton" id="drawButton"
                    data-dojo-props="iconClass:'polygonIcon'">
                    <span>Рисовать</span>
                </div>
                <div data-dojo-type="dijit/form/ToggleButton" class="inverse"
                    data-dojo-attach-point="editButton" id="editButton"
                    data-dojo-props="iconClass:'editIcon'">
                    <span>Редактировать</span>
                </div>
                <div data-dojo-type="dijit/form/Button" class="inverse"
                    data-dojo-attach-point="zoomInButton" id="zoomInButton"
                    data-dojo-props="iconClass:'zoomInIcon'">
                    <span>Приблизить</span>
                </div>
                <div data-dojo-type="dijit/form/Button" class="inverse"
                    data-dojo-attach-point="zoomOutButton" id="zoomOutButton"
                    data-dojo-props="iconClass:'zoomOutIcon'">
                    <span>Отдалить</span>
                </div>
            </div>
            <div id="mapCoords"></div>
		</div>
	</div>
</div>
