@CHARSET "UTF-8";

.DateTimeTextBox .dijitDateTextBox {
    width: 63% !important;
}

.DateTimeTextBox .dijitTimeTextBox {
    width: 37% !important;
}

.DateTimeTextBox .dijitInputContainer {
	font-size: 12px;
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.DateTimeTextBox .dijitDownArrowButton {
    width: 0px;
    padding: 0px !important;
}

.DateTimeTextBox .dijitArrowButtonInner {
	font-size: 10px;
	margin-left: -3px;
}

.dateDecButton .dijitButtonNode {
	padding: 6px 2px 6px 0px !important;
	width: 16px;
}

.dateIncButton .dijitButtonNode {
    padding: 6px 1px !important;
    width: 16px;
}

.dateDecButton .dijitButtonText,
.dateIncButton .dijitButtonText {
	display: none;
}

#reportPane {
	margin: 0 10px 0 10px;
}

/* Таблица рейсов */
#reportPane .dgrid {
    position: absolute;
    top:    40px;
    left:   0;
    bottom: 0;
    right:  0;
    height: auto;
}

#reportPane .dgrid-column-execDate {
    width: 8.8em;
    text-align: center;
}

#reportPane .dgrid-column-openTime {
    width: 10em;
    text-align: center;
}

#reportPane .dgrid-column-closeTime {
    width: 10em;
    text-align: center;
}

#reportPane .dgrid-column-mileage {
    width: 8em;
    text-align: center;
}

#reportPane .dgrid-column-mileageOutZone {
    width: 8em;
    text-align: center;
}

#reportPane .dgrid-column-map {
    width: 7.5em;
    text-align: center;
}
