@CHARSET "UTF-8";

#carsPane {
	margin: 0 10px 0 10px;
}

/* Таблица автомобилей */
#carsPane .dgrid {
    position: absolute;
    top:    0;
    left:   0;
    bottom: 35px;
    right:  0;
    height: auto;
}

#carsPane .buttons {
	position: absolute;
	left:   0;
	bottom: 0;
	white-space: nowrap;
}

#carsPane .dgrid-row-table,
#carsPane .dgrid-content {
	min-width: 100em;
}

#carsPane .dgrid-column-id {
	width: 3.5em;
	text-align: right;
}

#carsPane .dgrid-column-capacity {
	width: 4.5em;
	text-align: right;
}

#carsPane .dgrid-column-inspectDate {
	width: 8.8em;
}

#carsPane .dgrid-column-license {
	width: 6.5em;
}

#carsPane .dgrid-column-manufactured {
	width: 9em;
}

#carsPane .dgrid-column-mileage {
	width: 7em;
	text-align: right;
}

#carsPane .dgrid-column-purchased {
	width: 8.7em;
}

#carsPane .dgrid-column-type {
	width: 9em;
	text-align: center;
}

#carsPane .dgrid-column-device {
	width: 10em;
	text-align: center;
}

#carsPane .dgrid-column-driverCategory {
	width: 4.5em;
	text-align: center;
}

#carsPane .dgrid-column-fuel {
	width: 5em;
	text-align: center;
}

#carsPane .dgrid-column-state {
	width: 9em;
	text-align: center;
}
