@CHARSET "UTF-8";

/* Таблица типов устройств */
#typesPane {
	width: 30%;
	margin: 0 5px 0 10px;
	overflow: hidden;
}

#typesPane .dgrid {
    position: absolute;
    top:    0;
    left:   0;
    bottom: 35px;
    right:  0;
    height: auto;
}

#typesPane .buttons, #devicesPane .buttons {
	position: absolute;
	left:   0;
	bottom: 0;
	white-space: nowrap;
}

#typesPane .dgrid-column-id {
	width: 50px;
	text-align: right;
}

#typesPane .dgrid-column-configTime {
	width: 220px;
	text-align: center;
}

#typesPane .dgrid-row-table,
#typesPane .dgrid-content {
	min-width: 400px;
}

/* Таблица устройств */
#devicesPane {
	margin: 0 10px 0 5px;
	overflow: hidden;
}

#devicesPane .dgrid {
    position: absolute;
    top:    0;
    left:   0;
    bottom: 35px;
    right:  0;
    height: auto;
}

#devicesPane .dgrid-column-id {
	width: 50px;
	text-align: right;	
}

#devicesPane .dgrid-column-lastConfig {
	width: 230px;
	text-align: center;
}

#devicesPane .dgrid-column-code {
	width: 150px;
	text-align: right;
}

#devicesPane .dgrid-column-type {
	width: 200px;
}

#devicesPane .dgrid-row-table,
#devicesPane .dgrid-content {
	min-width: 800px;
}
