@CHARSET "UTF-8";

#driversPane {
	margin: 0 10px 0 10px;
}

/* Таблица автомобилей */
#driversPane .dgrid {
    position: absolute;
    top:    0;
    left:   0;
    bottom: 35px;
    right:  0;
    height: auto;
}

#driversPane .buttons {
	position: absolute;
	left:   0;
	bottom: 0;
	white-space: nowrap;
}

#driversPane .dgrid-row-table,
#driversPane .dgrid-content {
	min-width: 60em;
}

#driversPane .dgrid-column-id {
	width: 3.5em;
	text-align: right;
}

#driversPane .dgrid-column-employee {
    width: 20em;
}

#driversPane .dgrid-column-capacity {
	width: 4.5em;
	text-align: right;
}

#driversPane .dgrid-column-licenseSer {
	width: 7em;
}

#driversPane .dgrid-column-licenseNum {
    width: 7.3em;
}

#driversPane .dgrid-column-licenseDate {
    width: 8.8em;
}

#driversPane .dgrid-column-category {
	width: 4.5em;
	text-align: center;
}
