@CHARSET "UTF-8";

#placesPane {
	margin: 0 10px 0 10px;
}

/* Таблица автомобилей */
#placesPane .dgrid {
    position: absolute;
    top:    0;
    left:   0;
    bottom: 35px;
    right:  0;
    height: auto;
}

#placesPane .buttons {
	position: absolute;
	left:   0;
	bottom: 0;
	white-space: nowrap;
}

#placesPane .dgrid-column-id {
	width: 3.5em;
	text-align: right;
}
