@CHARSET "UTF-8";

#routesPane {
	margin: 0 10px 0 10px;
}

/* Таблица зон */
#routesPane .dgrid {
    position: absolute;
    top:    0;
    left:   0;
    bottom: 35px;
    right:  0;
    height: auto;
}

#routesPane .buttons {
	position: absolute;
	left:   0;
	bottom: 0;
	white-space: nowrap;
}

#routesPane .dgrid-column-id {
	width: 3.5em;
	text-align: right;
}

#routesPane .dgrid-column-edit {
    width: 10em;
    text-align: center;
}
