<div class="fullsize">
	<div data-dojo-type="dijit/layout/BorderContainer" class="fullsize" 
		data-dojo-props="gutters:true, liveSplitters:true">
	    <div data-dojo-type="dijit/layout/ContentPane" id="navigationPane"
	         data-dojo-props="region:'top'">
			<div data-dojo-attach-point="navigationNode"></div>
		</div>
		<div data-dojo-type="dijit/layout/ContentPane" id="racesPane"
		     data-dojo-props="region:'center'">
			<div data-dojo-attach-point="racesNode" id="racesNode"></div>
		</div>
	</div>
</div>
