<div>
    <div>
		<label for="date">Показывать рейсы от&nbsp;</label>
        <button data-dojo-type="dijit/form/Button" class="dateDecButton"
            data-dojo-props="iconClass:'icon-double-angle-left'"
            data-dojo-attach-event="click:decMonth">
        </button>
        <button data-dojo-type="dijit/form/Button" class="dateDecButton"
            data-dojo-props="iconClass:'icon-angle-left'"
            data-dojo-attach-event="click:decDay">
        </button>
		<input type="text" data-dojo-attach-point="date" id="date"
		    data-dojo-type="dijit/form/DateTextBox"
		    data-dojo-attach-event="keydown:onDateKeydown,mousewheel:onDateWheel,DOMMouseScroll:onDateWheel" />
        <button data-dojo-type="dijit/form/Button" class="dateIncButton"
            data-dojo-props="iconClass:'icon-angle-right'"
            data-dojo-attach-event="click:incDay">
        </button>
        <button data-dojo-type="dijit/form/Button" class="dateIncButton"
            data-dojo-props="iconClass:'icon-double-angle-right'"
            data-dojo-attach-event="click:incMonth">
        </button>
        <button data-dojo-type="dijit/form/Button" data-dojo-props="iconClass:'icon-refresh'"
            data-dojo-attach-event="click:updateGrid">Обновить</button>
    </div>

    <div data-dojo-attach-point="gridNode"></div>
</div>
